#container {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

#center-container {
    height:600px;
    top:0;
}


#center-container 
{
    float:left;
    width:750px;
    background-color:#1a1a1a;
    color:#ccc;
}

.text {
    margin: 7px;
}


#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#infovis {
    position:relative;
    width:750px;
    height:600px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}


#novel_summary
{
    max-height: 800px;
    overflow: auto;
}

#container,
#locations,
#summary,
#information,
#characters
{
    margin-top: 10px;
    padding: 5px;
    background-color: #F8F8F8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #AAA;
} 

#novel_type
{
    font-size:18px;
    color: #6AF;
}

.enum_item
{
    padding: 2px;
    margin-left: 40px;
}